venv/
.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
*.log
*.sqlite
.env
volume/
env/
.env
notebook/.ipynb_checkpoints
notebook/.Trash-0
*.ipynb_checkpoints
notebook/Engineering/.ipynb_checkpoints

notebook/Spark_Magic
04_Expire_Snapshots.ipynb
05_Optimize_Binpack_vs_Sort.ipynb
06_COW_vs_MOR.ipynb
03_Branches_and_Tags.ipynb

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*

# VSCode / IDEs
.vscode/
.idea/
venv/

# Logs e arquivos temporários
*.log
*.tmp
*.bkp

# Docker
*.pid
*.sock
docker-compose.override.yml
volumes/
data/

# Airflow
airflow/airflow.db
airflow/airflow.cfg
airflow/logs/

# Jupyter
.ipynb_checkpoints/

# Spark
metastore_db/
derby.log

# MinIO
src/minio_data/
**/.minio.sys/

# Arquivos grandes
*.parquet
*.db
*.zip
*.tar.gz
*.json
*.meta
